<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Karen Douglas Consulting</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{site.baseurl}}/css/karenldouglas.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/favicon.ico" rel="stylesheet">
</head>
<body>



  {{content}}

  <footer>
    <h4 id="contact">Contact</h4>
    <p>Karen may be reached in one of the following ways:</p>
    <ol>
      <li>
        <i class="icon i-32">
          <img src="images/icon.svg" alt="">
        </i>
        Telephone:<br><a href="tel:613-265-4676">(613) 265-4676</a></li>
      <li>
        <i class="icon i-32">
          <img src="images/icon.svg" alt="">
        </i>
        Fax:<br><a href="fax:613.424.2561">(613) 424-2561</a></li>
      <li>
        <i class="icon i-32">
          <img src="images/icon.svg" alt="">
        </i>
        Email:<br><a href="mailto:karen@karenldouglas.ca">karen@karenldouglas.ca</a></li>
      <li>
        <i class="icon i-32">
          <img src="images/icon.svg" alt="">
        </i>
        Mail:<br>91517 Mer Bleu Road,<br>Ottawa, ON.,<br>K1W 0A6</li>
    </ol>
  </footer>

  <script src="{{site.baseurl}}/css/typekit.js"></script>
</body>
</html>
